.navigate-section-container,
.country-detail-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigate-section-container {
  margin: 4rem 0;

  > button {
    width: 6.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    border-radius: 0.125rem;
    background: var(--input-bg-color);
    box-shadow: 0px 0px 7px 0px var(--button-shadow-color);
    cursor: pointer;
  }
}

.country-detail-container {
  .country-img-container {
    width: 34.98219rem;
    height: 26rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .country-detail-content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 37.375rem;

    > h2 {
      font-size: 2rem;
    }

    .country-detailed-info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 10rem;
      width: 100%;
      row-gap: 0.8rem;
      font-size: 1rem;

      > p {
        font-weight: 600;

        > span {
          font-weight: 400;
        }
      }
    }

    .border-countries-container {
      display: flex;
      align-items: center;

      column-gap: 1rem;
      > p {
        font-size: 1rem;
        font-weight: 600;
      }

      .border-countries-btns {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        width: 70%;

        > button {
          width: 6.5rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.5rem;
          border-radius: 0.125rem;
          background: var(--input-bg-color);
          box-shadow: 0px 0px 4px 2px var(--shadow-color);
          cursor: pointer;
          font-weight: 300;
          color: var(--text-color);
        }
      }
    }
  }
}
