@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(0, 0%, 98%);
  --text-color: #111517;
  --searcing-icon-color: #848484;
  --input-color: hsl(0, 0%, 52%);
  --input-bg-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --button-shadow-color: rgba(0, 0, 0, 0.29);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.container {
  padding-right: 5rem;
  padding-left: 5rem;
}

.header-container,
.header-theme-changer,
.section-container,
.filter-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header */

.header-container {
  color: var(--text-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;

  > h1 {
    font-size: 1.5rem;
  }

  .header-theme-changer {
    width: 7%;

    > span {
      font-size: 0.9rem;
      font-weight: 600;
    }

    .theme-changer-icon:hover {
      cursor: pointer;
    }
  }
}

/* Search & Filter section */

.section-container {
  padding-top: 2rem;
  padding-bottom: 2rem;

  /* !Search side */

  .searching-side {
    width: 35%;
    background-color: var(--input-bg-color);
    color: var(--input-color);
    border-radius: 0.2rem;
    box-shadow: 0px 2px 9px 0px var(--shadow-color);

    > label {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1.3rem 1.8rem;

      > input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--input-color);
        font-size: 0.875rem;
      }
    }
  }

  /* !Filter side */

  .filtering-side {
    width: 13%;
    font-size: 0.875rem;
    font-weight: 400;
    position: relative;

    > .filter-selected {
      padding: 1.1rem 1.4rem;
      cursor: pointer;
      user-select: none;
      border-radius: 0.2rem;
      background: var(--input-bg-color);
      box-shadow: 0px 2px 9px 0px var(--shadow-color);
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    > .filter-options {
      width: 100%;
      padding: 0.8rem 1.2rem;
      border-radius: 0.2rem;
      background: var(--input-bg-color);
      box-shadow: 0px 2px 9px 0px var(--shadow-color);
      opacity: 0;
      position: absolute;
      transition: all .2s ease-in-out;

      > .filter-option {
        padding: 0.2rem 0;
        cursor: pointer;
        pointer-events: none;
      }
    }

    > .filter-options.active {
      opacity: 1;

      > .filter-option {
        pointer-events: all;
      }
    }
  }
}

/* Main */

.main-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  justify-content: space-between;
  padding-bottom: 2rem;

  .country-card {
    width: 16.5rem;
    height: 20rem;
    border-radius: 0.2rem;
    background: #fff;
    box-shadow: 0px 0px 7px 2px var(--shadow-color);
    transition: all .3s ease-in-out;

    .card-img-container {
      height: 50%;
    }

    .card-img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 0.2rem;
      border-top-left-radius: 0.2rem;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      padding: 1.5rem;

      .card-header {
        font-weight: 800;
      }

      .card-info {
        font-weight: 600;

        > p span {
          font-weight: 400;
        }
      }
    }
  }

  .country-card:hover {
    transform: scale(1.03);
  }
}

