
.container {
    background-color: rgb(247, 216, 175);
    height: 40rem;
    padding: 2rem;

    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // align-items: center;
    // justify-content: space-evenly;

    @include flexBox(row, nowrap, center, space-evenly);

    .box {
        height: 6rem;
        width: 6rem;
        background-color: cadetblue;
        margin: 1rem;
        transition: all .4s ease-in;

        &:hover {
            cursor: pointer;
            background-color: rgb(143, 185, 186);
        }
    }
}

@include md{
    .container {
        background-color: map-get($buttons, 'btn-primary');
        flex-wrap: wrap;

        .box {
            background-color: map-get($buttons, '--text-color-white' );
        }
    }

}